#dyn{
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(../assets/about.png);
    background-size: cover;
}
#about{
    display: flex;
    padding-top: 110px;
    justify-content: space-between;
    padding-left: 172px;
    padding-right: 172px;
}
#dynamic p{
    width: 686px;
    color: #FFF;
    font-family: var(--open);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.line{
   height: 202px;
   width: 10px;
}
#line{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
#line h1{
    color: #FFF;
    font-family: var(--rub);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    width: 575px;
    margin-left: 28px;
}
#wat{
    color: red;
    font-family: var(--rub);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.4px;
}
#image {
    width: 56.411px;
    height: 58.5px;
    margin-right: 13px;
}
#buildings {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#building p {
    color: white;
    font-family: var(--open);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.6px;
    width: 275px;
    height: 57px;
}
#building h6 {
    color: white;
    font-family: var(--rub);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.4px;
    width: 177px;
    height: 40px;
}
@media(max-width:1200px){
    #about{
    padding-left: 20px;
    padding-right: 20px;
}
}
@media(max-width: 900px){
#wot{
    display: none;
}
#line h1{
    font-size: 21px;
    margin-left: 5px;
}
.line{
    height: 52px;
}
#about{
    padding-left: 20px;
    padding-right: 20px;
}
}
@media(max-width :500px){
    #about{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    #dynamic p{
        width: 350px;
        font-size: 16px;
    }
    #line h1{
        width: 350px;
    }
    #dyn{
        height: 100vh;
        background-size: cover;
    }
}